# wildcards
.deps
.dirstamp
.libs
*.la
*.lo
*.o
# specific files
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
wtf
wtf-cli
wtf-coordinator
wtf-daemon
wtf.pc
stamp-h1
