# wildcards
.deps
.dirstamp
.libs
*.la
*.lo
*.o
*.swp
*.log
*.pdf
*.aux
*.ent
*.png
*.gnuplot
# specific files
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
core
wtf-data/
depcomp
install-sh
leveldb-dump
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
writetestdata
readtestdata
wtf-async-benchmark
wtf-sync-benchmark
wtf-hadoop-benchmark
wtf-cli
wtf-writetest
wtf-test-blockstore
wtf-readtest
wtf-readwritetest
wtf-coordinator
wtf-daemon
wtf-initialize-cluster
wtf.pc
wtf-admin.pc
stamp-h1
wtf-shelltest
wtf-fusetest
wtf-server-forget
wtf-server-kill
wtf-server-offline
wtf-server-online
wtf-server-register
_logs
wtf-fusetest
wtf-shelltest
wtf-mkfs
logfusetest
wtf
